body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --electric-blue: #53cbf3;
  --electric-blue-hover: #005bb5;
  /* Primary Colors */
  --color-navy-dark: #0B1F3B;
  --color-navy: #122C54;
  --color-navy-light: #1A3A6B;
  --navy-blue-secondary: #1a3263;
  --navy-blue:#10213D;

  /* Gold Variants */
  --color-gold: #D4AF37;
  --color-gold-muted: #B68A2A;
  --color-gold-dark: #A67C1A;
  --gold: #c08b5c;
}
/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: var(--navy-blue);
  color: white;
  font-family: "Catamaran", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h1{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
h2{
  font-size:40px;
  font-weight:900;
  text-transform: capitalize;
}
h3{
  font-weight: 700;
}

h4, h5, h6{
  font-weight:300;
}
/*  */
h2, h3, h4, h5, h6{
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

section > .container-fluid, footer > .container-fluid{
  padding:3% 7%;
}
/* nav--nav--nav--nav--nav--nav--nav--nav--nav--nav--nav--nav--nav--nav */
nav{
  text-transform: capitalize;
  background-color: var(--color-navy-dark);
  
}
nav .container-fluid{
  padding:1% 7% ;
}

/* button button button button */
.borderlessbtn{
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  color: var(--electric-blue);
}
.btn{
  text-transform: capitalize;
   white-space: nowrap;
   margin-right: 10px;
   margin-bottom: 10px;
   border-radius: 50px;
  } 
.btnPrimary{
    background-color: var(--color-navy-light);
  
  color: white;
}
.btnPrimary:hover{
background-color: var(--electric-blue-hover);
  color: white;
}

/* hero-section-hero-sectio */
.heroWrite{
  color: var(--electric-blue-hover);
}
.hero-image{
  background: linear-gradient(var(--electric-blue), transparent);
    border-bottom: none;
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    padding: 3% 1%;
    
}
@media (max-width: 600px) {
.hero-image{
    width: 80%;
}
}

/* service-section srvivcesection service services */
.home-subheader,.homeHeader{
  color: var(--electric-blue-hover);
  
}
.homeHeader{
  text-align: center;
}
.serviceCard{
  background-color: var(--color-navy-dark);
  padding: 30px;
  border-radius:20px ;
  box-shadow: 0 4px 6px -1px var(--electric-blue);
}





/* animation animation animation animation animation animation */
.sectionAnimationLeft{
  scroll-behavior: smooth;
  animation: backInLeft;
  animation-duration: 1.5s;
}
.sectionAnimationDown{
  scroll-behavior: smooth;
  animation:fadeInDownBig;
  animation-duration: 1.2s;
}

.sectionAnimationUp{
  scroll-behavior: smooth;
  animation:fadeInUpBig;
  animation-duration: 1.2s;

}
.sectionAnimationRight{
  scroll-behavior: smooth;
  animation: backInRight;
  animation-duration: 1.2s;
}